.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    text-decoration: none;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
}
